.ex2sc{
width: 100%;
height: 70vh;

}

.imgex2sc {
display: flex;
width: 100%;
flex-direction: row;
justify-content: center;

}

.imgex2sc img{
width: 30%;
height: 30%;



}
.Exsrisizep13{
    display: flex;
    justify-content: start;
    margin-left: 20%;
    margin-top: 3%;
    flex-direction: column;
}

.Exsrisizep13 img{
width: 25%;
height: 25%;



}

.Selma{
background-color: #fdc88f;
width: 50%;
clip-path: polygon(0 1%, 96% 0, 100% 100%, 0% 100%);
font-size: 20px;


}

.Selma input{
border-bottom: 2px solid black;
width: 60%;


}

.Isabelle{
background-color: #f6c9d7;
width: 50%;
margin-top: 2%;
clip-path: polygon(0 1%, 96% 0, 100% 100%, 0% 100%);
font-size: 20px;


}

.Isabelle input{
border-bottom: 2px solid black;
width: 60%;


}
.Theo{
background-color: #6dcff6;
width: 50%;
margin-top: 2%;
clip-path: polygon(0 1%, 96% 0, 100% 100%, 0% 100%);
font-size: 20px;


}

.Theo input{
border-bottom: 2px solid black;
width: 60%;


}
.Luc{
background-color: #f0d9c5;
width: 50%;
margin-top: 2%;
clip-path: polygon(0 1%, 96% 0, 100% 100%, 0% 100%);
font-size: 20px;


}

.Luc input{
border-bottom: 2px solid black;
width: 60%;


}
.Karl{
background-color: #96c0bd;
width: 50%;
margin-top: 2%;
clip-path: polygon(0 1%, 96% 0, 100% 100%, 0% 100%);
font-size: 20px;


}

.Karl input{
border-bottom: 2px solid black;
width: 60%;


}
