.page22Q1{

    display: flex;

    align-items: flex-start; /* محاذاة من الأعلى */
    justify-content: center;
    width: 100%;
    height: 70vh;
    gap: 20px; /* مسافة بين الأعمدة */
    flex-direction: row;

}