.p14q4 {
  width: 100%;
  min-height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative; /* مهم ليتمركز inputs مطلقًا داخلها */
}

.inputsp14 {
  width: 800px;  /* حجم البطاقة */
  height: 500px;
  background-image: url('../../../assets/unit1/sectionD/P14Q4+5.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; /* مهم ليكون المرجع للـ absolute */
}
.inputsp14 input{
width: 40%;
padding: 6px;
background-color: aliceblue;
}
.input1 {
  position: absolute;
  top: 26%;   /* المسافة من الأعلى */
  left: 16%; /* المسافة من اليسار */
  width: 200px;
}

.input2 {
  position: absolute;
  top: 35%;
  left: 19%;
  width: 200px;
}

.input3 {
  position: absolute;
  top: 45%;
  left: 15%;
  width: 200px;
}

.input4 {
  position: absolute;
  top: 54%;
  left: 26%;
  width: 200px;
}

.input5 {
  position: absolute;
  top: 70%;
  left: 100px;
  width: 10%;
  height: 20%;

}
