/* ===== Container ===== */
.table-container {
  width: 71%;
  margin-left: 21.5%;
  margin-top: 0%;
    height: 50%;
}
.table-cell {
  border-left: none;
  border-right: none;
}

.table-row {
  border-top: 2px solid #de4484;
  border-bottom: 2px solid #de4484;
}
/* ===== Table ===== */
.nationality-table {
  width: 100%;
  border-collapse: collapse;
  font-size: 15px;   /* ⬅️ تصغير الخط */
}

/* ===== Header ===== */
.table-header-row {
  border: 2px solid #de4484;
}

.table-header {
  padding: 8px;      /* ⬅️ أقل */
  text-align: center;
  font-weight: bold;
  width: 50%;
}

/* ===== Rows ===== */
.table-row {
  border: 2px solid #de4484;
 
}

/* ===== Cells ===== */
.table-cell {
  padding: 2px;      /* ⬅️ أقل */
  border: 2px solid #de4484;
  text-align: center;
  vertical-align: middle;
}

/* ===== Inputs ===== */
.table-input {
  width: 85%;
  padding: 12px;      /* ⬅️ أقل */
  font-size: 14px;   /* ⬅️ أصغر */
 
border: #f0f0f0;
  text-align: center;
  outline: none;

}

.table-input:focus {
  border-color: #4a90e2;
}

/* ===== Disabled Row ===== */
.disabled-cell {
  background-color: #f0f0f0;
}

.disabled-input {
  background-color: #f5f5f5;
  color: #888;
  cursor: not-allowed;
}
